.app__project-main {
    width: 100%;
    max-width: 2000px;
    padding: 5rem 2rem 3rem 2rem;
    margin: auto;
    min-height: 100vh;
    background: greenyellow;
}



.app__project-header {
    margin-bottom: 2rem;
}
.app__project-header h3 {
    margin: 2rem 0 1rem 0;
}
.app__project-header .link {
    color: var(--our__color);
}



.app__project-header-creator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}
.app__project-header-creator img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.app__project-header-creator a {
    text-decoration: none;
    color: rgb(0, 0, 255);
    transition: .2s;
}
.app__project-header-creator a:hover {
    color: var(--our__color);
}

.app__project-banner {
    width: 100%;
    max-width: 620px;
    margin: auto;
}
.app__project-banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.app__project-project {
    display: flex;
    gap: 1rem;
}
.app__project-body {
    width: 100%;
    max-width: 1000px;
}
.app__project-project .app__project-ads {
    flex: 1;
    background: rgb(0, 157, 255);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app__project-body .intro {
    margin-bottom: 2rem;
}
.app__project-body .steps h2 {
    margin-bottom: 1rem;
}
.app__project-body .steps ol {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.app__project-body .steps ol li {
    color: #6b6767;
}
.app__project-body .steps a {
    text-decoration: none;
    color: black;
    transition: .2s;
    cursor: pointer;
}
.app__project-body .steps a:hover {
    color: #6b6767;
}

.app__project-body :is(.model-3d, .parts-3d, .parts-assembly, .circuit, .code, .conclusing) {
    padding-top: 3rem;
}
.app__project-body :is(.model-3d, .parts-3d, .parts-assembly, .circuit, .code, .conclusing) h3 {
    margin: 1rem 0;
}
.app__project-body :is(.model-3d, .parts-3d) .imgs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.app__project-body :is(.model-3d) .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}
.app__project-body :is(.model-3d) .image img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.app__project-body :is(.model-3d) .item a {
    text-decoration: none;
    color: black;
    transition: .2s;
}
.app__project-body :is(.model-3d) .item a:hover {
    color: var(--our__color);
}

.app__project-body .parts-3d .imgs-container .item {
    position: relative;
    max-height: 300px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}
.app__project-body .parts-3d .imgs-container .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app__project-body .parts-3d .imgs-container .item .item-overlay {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 1rem;
    display: flex;
    align-items: flex-end;
    transition: .3s;
    z-index: 2;
}
.app__project-body .parts-3d .imgs-container .item:hover .item-overlay {
    bottom: 0;
}
.app__project-body .parts-3d .imgs-container .item h3 {
    color: var(--white);
}
.app__project-body .parts-3d .imgs-container .item .number {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--our__color);
    color: var(--white);
    display: grid;
    place-items: center;
    z-index: 3;
}
.app__project-body .parts-3d .imgs-container .item .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
    opacity: 0;
    transition: .2s;
}
.app__project-body .parts-3d .imgs-container .item:hover .icon {
    opacity: 1;
}
.app__project-body .parts-3d .imgs-container .item .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app__project-body .parts-3d .thangs img {
    width: 100%;
}

.app__project-body .parts-assembly .imgs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.app__project-body .parts-assembly .imgs-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.app__project-body .circuit .project-circuit img {
    width: 100%;
    height: 100%;
}

.app__project-body .code .project-code {
    height: 400px;
    overflow: scroll;
    background: #ccc;
}
.app__project-body .code .project-code::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.app__project-body .code .project-code::-webkit-scrollbar-track {
    background: transparent;
}
.app__project-body .code .project-code::-webkit-scrollbar-thumb {
    background: orangered;
    transition: background .2s;
    border-radius: 10px;
}
.app__project-body .code .project-code::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0);
}
.app__project-body .code .project-code::-webkit-scrollbar-corner {
    background: #ccc;
}

.app__project-body .conclusing img {
    width: 100%;
    object-fit: cover;
}
.app__project-body .conclusing .prev-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app__project-body .conclusing .prev-next h3 {
    width: max-content;
}
.app__project-body .conclusing .prev-next h3 .project-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    text-decoration: none;
    padding: .5rem;
    border-radius: 6px;
    border: 2px rgb(0, 76, 255) solid;
    background-image: linear-gradient(
        to bottom right,
        rgb(0, 76, 255), 
        rgb(255, 0, 230)
    );
    background-clip: text;
    color: transparent;
}
.app__project-body .conclusing .prev-next h3 .project-link span:nth-child(1) {
    text-decoration: underline 2px rgb(255, 0, 230);
}
.app__project-body .conclusing .support {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    background: rgb(0, 157, 255);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.app__project-body .conclusing .support .icons {
    display: flex;
    gap: 1.5rem;
}
.app__project-body .conclusing .support .icons a {
    width: 35px;
    height: 35px;
}
.app__project-body .conclusing .support .icons a .icon {
    width: 100%;
    height: 100%;
}

@media screen and (width <= 1300px) {
    .app__project-project {
        flex-direction: column-reverse;
    }
}
@media screen and (width <= 900px) {
    .app__project-body :is(.model-3d, .parts-3d) .imgs-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (width <= 700px) {
    .app__project-body .parts-3d .imgs-container .item :is(.number, .icon) {
        width: 30px;
        height: 30px;
    }
}
@media screen and (width <= 600px) {
    .app__project-main {
        padding: 5rem 1rem 1rem 1rem;
    }

    .app__project-header h1 {
        font-size: 27px;
    }

    .app__project-body :is(.model-3d, .parts-3d, .parts-assembly) .imgs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}