.app__navbar {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    padding: .75rem 2rem;
    transition: background .2s;
    z-index: 999;
}

.app__navbar.active {
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(8px);
}

.app__navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.app__logo {
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
    z-index: 10;
}

.app__navbar.active .app__logo h1 {
    color: var(--white);
}

.app__navbar.active .toggle-navbar > * {
    fill: var(--white);
}

.app__navbar .toggle-navbar > *:hover {
    transition: .2s;
    fill: var(--our__color);
}

.app__logo::first-letter {
    color: var(--our__color);
}

.app__navbar-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    list-style: none;
}

.app__navbar-main li a {
    text-decoration: none;
    color: var(--black);
    transition: .2s;
    width: 100%;
}

.app__navbar .app__navbar-main li:hover a,
.app__navbar.active .app__navbar-main li:hover a {
    color: var(--our__color);
}

.app__navbar-btn {
    border: 0;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--our__color);
    color: var(--black);
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .2s;
}

.app__navbar-btn:hover {
    color: var(--white);
}

.projects-links {
    position: relative;
    cursor: pointer;
}

.projects-links .triangle-icon {
    transition: all .2s;
}

.app__navbar.active .projects-links:hover {
    color: var(--our__color);
}

.projects-links:hover {
    color: var(--our__color);
}

.projects-links:hover .triangle-icon {
    transform: rotateZ(180deg);
}

.projects-links-container {
    position: absolute;
    top: .8rem;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.85);
    width: max-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: 1rem .5rem .75rem .5rem;
    transition: all .3s;
    z-index: 10;
}

.projects-links:hover  .projects-links-container {
    width: max-content;
    opacity: 1;
    visibility: visible;
    top: 1.4rem;
}

.app__navbar-container a {
    text-decoration: none;
}

@media screen and (width > 900px) {
    .toggle-navbar,
    .app__navbar-social {
        display: none;
    }

    .app__navbar.active .app__navbar-main li a {
        color: var(--white);
    }

    .app__navbar.active .projects-links {
        color: var(--white);
    }
}

@media screen and (width <= 900px) {
    .app__navbar-btn {
        margin-left: auto;
        margin-right: 1rem;
    }

    .toggle-navbar {
        background: transparent;
        border: 0;
        outline: none;
        z-index: 10;
        cursor: pointer;
    }

    .app__navbar-container {
        display: none;
        min-height: 100vh;
    }

    .app__navbar-container.active {
        display: initial;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        animation: sliding .5s linear alternate;
    }
    
    .app__navbar-container .app__navbar-main {
        background: rgb(118, 118, 118);
        width: 100%;
        max-width: 500px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15%;
        position: relative;
        overflow-y: scroll;
    }

    .app__navbar-social {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        /* align-items: center; */
        background: rgba(128, 128, 128, 0.7);
        padding: 6px 12px 2px 12px;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    }
}

@media screen and (width <= 450px) {
    .app__navbar {
        padding: .5rem 1rem;
    }
}