.app__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .75rem 2rem;
}

.app__navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.app__logo {
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
    z-index: 10;
}

.app__logo::first-letter {
    color: var(--our__color);
}

.app__navbar-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    list-style: none;
}

.app__navbar-main li {
    transition: .3s;
}

.app__navbar-main li a {
    text-decoration: none;
    color: var(--black);
    transition: .1s;
    width: 100%;
}

.app__navbar-main li:hover {
    opacity: 1 !important;
}

.app__navbar-main li:hover a {
    color: var(--our__color);
}

.app__navbar-btn {
    border: 0;
    outline: none;
    text-transform: uppercase;
    background: var(--our__color);
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .2s;
}

.app__navbar-btn:hover {
    color: var(--white);
}

@media screen and (width > 900px) {
    .toggle-navbar {
        display: none;
    }
    
    .app__navbar-main:hover li {
        opacity: .6;
    }
}

@media screen and (width <= 900px) {
    .app__navbar-btn {
        margin-left: auto;
        margin-right: 1rem;
    }

    .toggle-navbar {
        background: transparent;
        border: 0;
        outline: none;
        z-index: 10;
        cursor: pointer;
    }

    .app__navbar-container {
        display: none;
    }

    .app__navbar-container.active {
        display: initial;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        animation: sliding .5s linear alternate;
    }
    
    .app__navbar-container .app__navbar-main {
        background: rgb(94, 94, 236);
        width: 100%;
        max-width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15%;
    }
}

@media screen and (width <= 450px) {
    .app__navbar {
        padding: .5rem 1rem;
    }
}