:root {
  /* Colors */
  --black: rgb(15, 18, 22);
  --white: #e4e4e4;
  --our__color: orangered;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  scroll-behavior: smooth;
}

@keyframes sliding {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

*::-webkit-scrollbar {
  display: none;
}